<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codefury">

        <!-- ... other activities ... -->
        <activity
            android:name=".HomePage"
            android:exported="false" />

        <activity
            android:name=".UploadImage"
            android:exported="false" />

        <activity
            android:name=".UserProfile"
            android:exported="false" />

        <activity
            android:name=".LoginPage"
            android:exported="false" />  <!-- Assuming LoginPage is not the launcher for now -->
                                        <!-- If LoginPage should be the launcher, set exported="true" and add intent filter -->

        <activity
            android:name=".ImageDetailActivity"
            android:exported="false" />

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup" />
            <!-- You might want to make this launchable or open it from LoginPage -->
            <!-- If you want to launch it directly for testing, set exported="true" and add:
                 <intent-filter>
                     <action android:name="android.intent.action.MAIN" />
                     <category android:name="android.intent.category.LAUNCHER" />
                 </intent-filter>
            -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>